extends layout

block content
    body
        script.
            function accept(input) {
                $.post("/sm/pendingRequests", {email: input.name, accepted:true}, function (data) {
                    location.reload();
                });

            }
            function deny(input) {
                $.post("/sm/pendingRequests", {email: input.name, accepted:false}, function (data) {
                    location.reload();
                });

            }
        .row
            .col-md-4
                .figure-caption.text-left
                    h3.font-italic Business Customer to accept
                    h4.font-weight-light.font-italic Mind that if you deny a business customer it's permanent
            .col-md-4
                if pendingBusinessCustomers === false
                    .font-weight-light There are no requests pending.
                each val in pendingBusinessCustomers
                    .container.jumbotron
                        .figure-caption.text-left
                            h2.font-italic.text-capitalize #{val.name}
                        .badge.badge-light Name:
                        .font-weight-light.text-capitalize #{val.name}
                        .badge.badge-light Address:
                        .font-weight-light.text-capitalize #{val.address}
                        .badge.badge-light Email:
                        .font-weight-light #{val.email}
                        .badge.badge-light District:
                        .font-weight-light.text-capitalize #{val.comune}
                        .badge.badge-light P. Iva:
                        .font-weight-light.text-capitalize #{val.partitaIva}
                        .badge.badge-light Nation:
                        .font-weight-light.text-capitalize #{val.nazione}
                        .btn-group.top-padding
                            button.btn.btn-success(href, name= val.email, onclick = 'accept(this)') Accept Business Customer
                            button.btn.btn-danger(href, name= val.email, onclick = 'deny(this)') Deny Business Customer
            .col-md-2

